/* google font */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;700;900&display=swap");

/* Reset CSS Style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  font-family: "Noto Sans", "sans-serif";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  /* inherit :  */
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  /* transparent 배경을 투명하게 */
}

/* Navigation Bar Style */
header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

header .nav-content {
  width: 100%;
  max-width: 980px;
  /* background: #555; */
}

header .nav-content ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .nav-content ul a {
  color: #d5d5d5;
  font-size: 0.75rem;
  line-height: 2.75;
  /* line-height 를 주면 줄간이 넓어지기 때문에 간격이 떨어짐 얘는 디폴트 단위가 em : 자기 부모요소에서의 단위 <-> rem : 전체를 기준으로 */
}

header .nav-content ul a:hover {
  color: #fff;
}

header .logo a i,
.search a i,
header .bag a i {
  font-size: 1.125rem;
}

header .airpod-navbar .nav-content {
  display: flex;
  justify-content: space-between;
}

header .nav-logo a {
  color: #fefefe;
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.5;
}

header .nav-items button {
  color: #fefefe;
  font-size: 0.75rem;
  line-height: 1.375rem;
  margin-left: 1.5rem;
}

header .nav-items button:hover {
  color: #2997ff;
}

header .nav-items button:disabled,
header .nav-items button:disabled:hover {
  color: #bebebe;
  cursor: default;
  /* default : 아무것도 안잡힌다는 의미 */
}
